<% content_for :main do -%>
  <div class="postnav">
    <div class="alignleft"></div>
    <div class="alignright">« <a href="http://www.emlog.net/demo/?post=47">EMLOG模板结构介绍</a>
    </div>
  </div>
  <div id="post-3" class="post">
    <div class="posttitle">
      <h2>
        <% if @blog.weight > 0 %>
          <img align="absmiddle" title="置顶日志" src="/images/import.gif" />
        <% end %>
        <%= @blog.title %>
      </h2>
      <p class="post-info">
        post by <%= link_to blog.user.name,"/about" %> / <%= blog.created_at.to_s(:db) %> <%= week_en(blog.created_at.wday) %>
      </p>
    </div>

    <div class="entry">
      <p></p>
      <%= @blog.content %>
      <p class="postmetadata"></p>
      <p class="postmetadata">标签:<%= link_to @blog.title,@blog %></p>
    </div>
    <p class="postmetadata"></p>
  </div>
  <p class="comment"><b>评论：</b><a name="comment"></a></p>
  <% @blog.comments.each do |c| -%>
    <ol class="commentlist">
      <a name="319"></a>
      <li class="alt">
        <div class="cmtinfo"><em><%= @blog.created_at.to_s(:db) %></em>
          <small class="commentmetadata">
            <a target="_blank" href="<%= c.user_home.blank? ? '#' : c.user_home %>"><%= c.user_name %></a>：
          </small>
        </div>
        <div class="comment">
          <p><%= c.content %></p>
          <div></div>
        </div>
      </li>
    </ol>
  <% end %>

  <h3 id="respond">Leave a Reply</h3>
  <% form_for @comment,:url=>"/blogs/#{@blog.id}/comments",:html=>{:id=>'commentform'} do |f|-%>
    <p>
      <%= f.text_field :user_name,:value=>nil,:tabindex=>1,:size=>22,:class=>"textbox" %>
      <label for="comment_user_name"><small>Name (required)</small></label>
    </p>
    <p>
      <%= f.text_field :user_email,:value=>nil,:tabindex=>2,:size=>22,:class=>"textbox" %>
      <label for="comment_user_email"><small>Mail</small></label></p>
    <p>
      <%= f.text_field :user_home,:value=>nil,:tabindex=>2,:size=>22,:class=>"textbox" %>
      <label for="comment_user_home"><small>Website</small></label>
    </p>
    <p>
      <%= f.text_area :content,:value=>nil,:tabindex=>4,:rows=>10 %>
    </p>
    <p>
      <%= f.submit 'Comment' %>
    </p>
  <% end -%>

<% end -%>
