
<% content_for :main do -%>
  <% @blogs.each do |blog| -%>
    <div class="post">
      <div class="posttitle">
        <h2>
         <% if blog.weight > 0 %>
           <img align="absmiddle" title="置顶日志" src="/images/import.gif" />
          <% end %>
          <%= link_to blog.title,blog %>
        </h2>
        <p class="post-info">post by <%= link_to 'lxyluu',"/about" %> / <%= blog.created_at.to_s(:db) %> <%= week_en(blog.created_at.wday) %> </p>
      </div>
      <div class="entry">
        <p></p>
        <%= blog.content %>
        <p class="postmetadata"></p>
        <p class="postmetadata">标签:<%= link_to blog.title,blog %></p>
      </div>
      <p class="postmetadata">
        <a href="/blogs/<%= blog.id %>#comment">Comment:<%= blog.comments.size %></a>
        <a href="/blogs/<%= blog.id %>">View:<%= blog.view %></a>
      </p>
    </div>
  <% end -%>
<% end -%>




<% if false %>
  <div class="directory border">
    <ol>
      <% BlogCategory.all.each do |ac| %>
        <li><%= link_to ac.name,blogs_path %></li>
      <% end %>
    </ol>
  </div>
  <p class="entries">
    <b><%= @blogs.total_entries %></b> in total
  </p>
  <div class="gems border">
    <ol>
      <% @blogs.each do |b| -%>
        <li>
          <div class="downloads">
            <strong><%= b.created_at.to_s(:db) %></strong><br/>
            <%= b.user.name %>
          </div>
          <a href="/blogs/<%= b.id %>">
            <strong><%= b.title %></strong>
            <%= b.content %>
          </a>
        </li>
      <% end -%>
    </ol>
  </div>
  <%= will_paginate @blogs %>
<% end %>