<% if true %>
<% content_for :main do -%>
  <%= include_tiny_mce_if_needed %>
  <% form_for(@blog) do |f| %>
    <div class="directory border">
      <ol>
        <li><%= f.text_field :title %></li>
      </ol>
    </div>
    <div class="gems border">
      <%= f.text_area :content, :class => "mceEditor" ,:style=>"width:100%"%>
      <div class="meta-a">
        <div class="line">
          <span>
            <strong>权限</strong>
            <%= '私有' %><%= f.check_box :is_private%>
          </span>
        </div>
        <div class="line">
          <span>
            <strong>分类</strong> <%= f.select :blog_category_id,BlogCategory.all.collect{|bc| [bc.name,bc.name]} %>
          </span>
        </div>
        <div class="line">
          <span>
            <strong>标签</strong> <%= f.text_field :tags %>
          </span>
        </div>
      </div>
    </div>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
<% end -%>
<% end %>
<% if false %>
  <%= stylesheet_link_tag 'SyntaxHighlighter' %>
  <%= javascript_include_tag 'shCore','shBrushCSharp','shBrushRuby' %>
  <%= include_tiny_mce_if_needed %>
  <script type="text/javascript">
    window.onload = function () {
      dp.SyntaxHighlighter.ClipboardSwf = '/flash/clipboard.swf';
      dp.SyntaxHighlighter.HighlightAll('code');
    }
  </script>
  <pre name="code" class="ruby" cols="60" rows="10">
      def a
      puts '222'
      end
  </pre>
<% end %>
