<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Blogs: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'default' %>
    <%= javascript_include_tag :fckeditor %>
    <%= yield :header %>
  </head>
  <body>
    <div class="container_12">
      <div class="prefix_1 grid_4 header">
        <h1><a title="Home" href="/">RubyGems.org</a></h1>
      </div>
      <div class="grid_6 suffix_1 nav">
        <div id="nav-cap">
          <div id="nav">
              <ul id="signed_out">
                <% if logged_in? %>
                <li id="sign-in"><a href="/blogs/my">myself</a></li>
                <% end %>
                <li id="sign-up"><a href="/blogs">home</a></li>
              </ul>
          </div>
        </div>
   </div>
      <div class="prefix_1 grid_10 suffix_1 main">
        <div class="info clearfix">
          <%= yield :main %>
        </div>
      </div>
      <div class="prefix_1 grid_10 suffix_1 footer">
        <div class="links">
          <a href="http://rubygems.org/pages/about">About</a>
        </div>
      </div>
    </div>
  </body>
</html>
